@import "normalize";

$primary: #0b132a;
$secondary: #4f5665;
$btncolor: #f53838;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
  color: $secondary;
}

.container {
  max-width: 1207px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  text-decoration: none;
  font-weight: bold;
  color: $primary;
  background-color: $btncolor;
  color: white;
  padding: 12px 77px;
  border-radius: 10px;
  box-shadow: 0px 28px 42px 3px rgba(245, 56, 56, 0.27);
  transition: all 0.3s;
}

.btn-secondary {
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  color: $primary;
}

.btn-primary {
  text-decoration: none;
  font-weight: bold;
  color: $primary;
  border-radius: 50px;
  color: $btncolor;
  border: 2px solid #f53855;
}

.header {
  margin-top: 3rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav {
      a {
        text-decoration: none;
        color: $secondary;
        padding: 10px 20px;
      }

      a:hover {
        color: $btncolor;
        transition: all 0.3s;
      }
    }

    .navbuttons {
      .btn-primary {
        margin-left: 36px;
        margin-right: 67px;
        padding: 15px 46px;
      }

      .btn-secondary:hover {
        color: $btncolor;
        transition: all 0.3s;
      }
    }
  }
}

.hero {
  padding-top: 140px;
  padding-bottom: 172px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .herocontent {
    h1 {
      max-width: 555px;
      font-size: 3rem;
      color: $primary;
      font-weight: 500;
      margin-bottom: 3rem;
      line-height: 70px;
    }
    p {
      max-width: 555px;

      margin-bottom: 53px;
      line-height: 30px;
    }

    .btn:hover {
      box-shadow: 0px 20px 50px #f53838;
    }
  }
}

.herocard {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 37px 36px 9px rgba(0, 0, 0, 0.14);
    padding-top: 37px;
    padding-bottom: 37px;
    margin-bottom: 100px;
    .herocards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 118px;

      & + .herocards {
        border-left: 1px solid #eeeff2;
      }

      .herocardcontent {
        margin-left: 44px;

        h3 {
          margin-bottom: 0.5rem;
          font-size: 25px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
}

.Features {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
    .featurescontent {
      .Featuresustcontent {
        h2 {
          max-width: 383px;
          font-size: 35px;
          color: $primary;
          line-height: 50px;
          margin-bottom: 20px;
          font-weight: 500;
        }
        p {
          max-width: 427px;
          font-size: 16px;
          color: $secondary;
          line-height: 30px;
          margin-bottom: 20px;
        }
      }

      .featureslist {
        div {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
        }

        p {
          margin-left: 10px;
        }
      }
    }
  }
}

.YourPlan {
  background-color: #f6f6f6;
  .container {
    .YourPlanContent {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h2 {
        color: $primary;
        margin-bottom: 20px;
        font-size: 35px;
        line-height: 50px;
        font-weight: 500;
        margin-top: 80px;
      }
      p {
        margin-bottom: 90px;
      }
    }

    .YourPlanCards {
      display: flex;
      justify-content: space-evenly;

      .YourPlanCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $secondary;
        padding: 60px;
        margin-bottom: 75px;
        background-color: #fff;
        .YourPlanCardheader{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .YourPlanCardimg {
            margin-bottom: 30px;
          }
          h4 {
            margin-bottom: 30px;
          }
        }

    
        .YourPlanCardlist {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          flex-grow: 1;
          div {
            display: flex;
            align-items: center;
            & + div {
              margin-top: 10px;
            }
            p {
              margin-left: 20px;
            }
          }
        }
        .YourPlanCardfooter{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .YourPlanCardprice {
            font-size: 25px;
            margin-top: 50px;
  
            strong {
              color: $primary;
              font-weight: 500;
              font-size: 25px;
              line-height: 30px;
            }
        }
      
        }
        .btn-primary {
          margin-top: 20px;
          padding: 13px 62px;
        }
        .btn-primary:hover {
          background-color: $btncolor;
          box-shadow: 0px 10px 50px #f53838;
          color: white;
          transition: all 0.3s;
        }
      }
      .YourPlanCard:hover {
        border: 1px solid $btncolor;
        transition: all 0.3s;
      }
    }
  }
}

.HugeGlobal {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      color: $primary;
      max-width: 383px;
      font-weight: 500;
      font-size: 35px;
      line-height: 50px;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 75px;
    }
    p {
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      max-width: 555px;
      margin-bottom: 155px;
    }
    .HugeGlobalimg {
      margin-bottom: 80px;
    }
    .Sponsored {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-bottom: 50px;
        & + img {
          margin-left: 30px;
        }
      }
    }
  }
}

.Trusted {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
    h2 {
      font-weight: 500;
      font-size: 35px;
      line-height: 50px;
      text-align: center;
      max-width: 448px;
      margin-bottom: 20px;
      color: $primary;
    }
    .TrustedTitle {
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      max-width: 555px;
      margin-bottom: 60px;
    }
    .TrustedCards {
      display: flex;
      justify-content: center;
      align-items: center;
      .TrustedCard {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        border: 2px solid $secondary;
        padding: 30px;
        min-width: 400px;
        min-height: 230px;
        border-radius: 10px;

        & + .TrustedCard {
          margin-left: 50px;
        }
        .TrustedCardust {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          .TrustedCardContent {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left: 20px;
            h4 {
              font-weight: 500;
              font-size: 18px;
              line-height: 30px;
              color: $primary;
            }
            p {
              font-size: 14px;
              line-height: 30px;
              color: $secondary;
            }
          }
          .TrustedCardContent2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 95px;
            font-size: 16px;
            line-height: 30px;
            color: $primary;
            img {
              margin-left: 10px;
            }
          }
        }
      }
      .TrustedCard:hover {
        border: 2px solid $btncolor;
        box-shadow: 0px 28px 42px 3px rgba(245, 56, 56, 0.27);
        transition: all 0.3s;
      }
    }
  }
}
.Subscribe {
  .container {
    position: relative;
    top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    box-shadow: 0px 28px 42px 3px rgba(245, 56, 56, 0.27);
    padding: 58px 70px;
    background-color: #fff;
    .SubscribeTitle {
      h2 {
        font-weight: 500;
        font-size: 35px;
        line-height: 45px;
        color: $primary;
        max-width: 350px;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        line-height: 30px;
      }
    }
    .btn{
      padding: 17.5px 65px;
    }
    .btn:hover {
      box-shadow: 0px 20px 50px #f53838;
    }
  }
}

.footer {
  background-color: #f8f8f8;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .LaslesVPN {
      margin-top: 200px;
      display: flex;
      justify-content: start;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 95px;
      a {
        img {
          margin-bottom: 20px;
        }
      }
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        max-width: 340px;
        margin-bottom: 30px;
      }
      .footerimages {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }
      .copyright {
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #afb5c0;
      }
    }
    .footerlinks {
      display: flex;

      .ortak {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        & + .ortak {
          margin-left: 126px;
        }
        h4 {
          font-weight: 500;
          font-size: 18px;
          line-height: 30px;
          color: $primary;
          margin-bottom: 20px;
        }
        a {
          font-size: 16px;
          line-height: 30px;
          text-decoration: none;
          color: $secondary;
        }
      }
    }
  }
}
